{% extends 'base.html' %}
{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
     <ul class="alert slert-info alert-dismissable">
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
  {% endif %}
{% endwith %}

<div class="add-recipe-card card my-1 border-2px">
    <form class="AddRecipe" action="" enctype="multipart/form-data" id="SubmitRecipe" method="post">
        {{ form.hidden_tag() }}
        <fieldset>

            <div class="form-group">
                <b>{{ form.recipeName.label }}</b> {{ form.recipeName }}
            </div>
            <div class="form-group">
                <b>{{ form.creatorName.label }}</b> {{ form.creatorName }}
            </div>
            <div class="form-group">
                <b>{{ form.cuisName.label }}</b> {{ form.cuisName }}
            </div>
            <div class="form-group">
                <b>{{ form.description.label }}</b> {{ form.description }}
            </div>
            <div class="form-group">
                <b>{{ form.ingredients.label }}</b> {{ form.ingredients }}
            </div>
            <div class="form-group">
                <b>{{ form.instructions.label }}</b> {{ form.instructions }}
            </div>
            <div class="form-group">
                <b>{{ form.calories.label }}</b> {{ form.calories }}
            </div>
            <div class="form-group">
                <b>{{ form.difficulty.label }}</b> {{ form.difficulty }}
            </div>
            
            {{ form.submit }}
            </fieldset>

    </form>
</div>


{% endblock body %}