{% extends 'base.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
     <ul class="alert slert-info alert-dismissable">
         {% for message in messages %}
         <li>{{ message }}</li>
         {% endfor %}
     </ul>
  {% endif %}
{% endwith %}

<a href="{{ url_for('cuisine_view')}}">View Cuisines</a>

<div class="add-cuisine-card card my-1 border-2px">
    <form class="AddCuisine" action="" enctype="multipart/form-data" id="SubmitCuisine" method="post">
        {{ form.hidden_tag() }}
        <fieldset>

            <div class="form-group">
                <b>{{ form.cuisName.label }}</b> {{ form.cuisName }}
            </div>
            
            {{ form.submit }}
            </fieldset>

    </form>
</div>

{% endblock body %}